@import "../../utils/var.scss";
.slider {
	display: flex;
	margin-top:60px;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
    max-height: 650px;
}

.linkContainer {
	display: flex;
    flex-direction: column;
    color: $black;
    position: absolute;
    bottom: 0;
    background: $white;
    width: 100%;
    height: 100px;
    line-height: 2;
    padding: 0 25px;
}

.linkContainer--active{
	color: #4e2d82;
	font-weight: bold;
}

.SliderLeft {
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.5s ease-in-out;
}
.SliderRight {
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 60%;
	transition: transform 0.5s ease-in-out;
}

.SliderRightImageContainer {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.5s ease-in-out;
}

.SliderRight-image {
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 85%;
}

.SliderRight-image--1 {
	background-image: url(http://ahredesignstg.prod.acquia-sites.com/sites/default/files/Hero_1_Healthcare_MoreHuman.png);
}
.SliderRight-image--2 {
	background-image: url(http://ahredesignstg.prod.acquia-sites.com/sites/default/files/Hero_2_athenahealth_Dictation.png);
}
.SliderRight-image--3 {
	background-image: url(http://ahredesignstg.prod.acquia-sites.com/sites/default/files/Hero_3_ConnectionsByAthenahealth.png);
}

.SliderLeft__slideContainer {
	height: 100%;
	width: 100%;
	padding: 141px 94px 0 180px;
	box-sizing: border-box;
}
.SliderLeft__slide--indigo {
	background: linear-gradient(56.59deg, $purple-shade1 0%, $purple-shade2 100%);
}

.SliderLeft__slide--pink{
    background: linear-gradient(56.59deg, $magenta-shade1  0%, $magenta-shade2 100%);
}
.SliderLeft__slide--dark_pink{
    background: linear-gradient(56.59deg, $pink-shade1  0%, $pink-shade2 100%);
}

h3 {
	font-size: 46px;
	text-align: left;
	color: $white;
	font-family: $ptserif !important;
}
p {
	text-align: left;
	color: $white;
}
.SliderLeft__slideContainer--action {
	border-color: $white !important;
	color: $white !important;
	background: hsla(210, 1%, 43%, 0.25) !important;
	border: 2px solid $white;
	line-height: 36px !important;
	padding: 0 25px !important;
	font-family: $sourcesanspro;
	text-decoration: none;
	border-radius: 20px 20px 20px 20px;
	display: inline-block;
	text-align: center;
	// font-family: $metric-medium-ff;
	width: fit-content !important;
	cursor: pointer;
	min-width: 210px !important;
}


button{
    background-color: $white;
        border: none;
        color: #aaa;
        cursor: pointer;
        font-size: 16px;
        padding: 15px;

}

.slider--link{
	cursor: pointer;
}