.header__wrapper{
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 85% / 50%);
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    z-index: 9;
}
 header{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    align-items: center;
 }

 header > img{
    width: 152px;
    height: 22px;
 }