$font-family-sans-serif : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$sourcesanspro-ff: "Source Sans Pro",sans-serif;
$ptserif-ff: "PT Serif",serif;


$re-h6-fs: 25px;

$turtle-green: #62bb46;
$gray-light: #e9e9ea;
$hero-purple: #4e2d82;
$purple-shade1: #8a79ac;

$magenta-shade1:#9C28B1;
$magenta-shade2:#B279B7;

$pink-shade1:#B4005B;
$pink-shade2:#CC638F;

$white: #fff;
$black: #000;