$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
	"Liberation Mono", "Courier New", monospace;
$sourcesanspro: "Source Sans Pro", sans-serif;
$ptserif: "PT Serif", serif;

$re-h6-fs: 25px;

$light-green: #62bb46;
$light-gray: #e9e9ea;
$purple-shade1: #4e2d82;
$purple-shade2: #8a79ac;

$magenta-shade1: #9c28b1;
$magenta-shade2: #b279b7;

$pink-shade1: #b4005b;
$pink-shade2: #cc638f;

$white: #fff;
$black: #000;
